@import '../styles/breakpoints';

.links {
  color: #F00;
  &:hover{
    color: #0000FF;
  }
}

$border-default: 2px dotted #CACACA;
$border-hover: 2px solid orange;

$fonts: "Indie Flower", "Sacramento", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
$orange: #FF5733;
$grey: #CACACA;

.shopList {
  font-family: $fonts;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 1.45rem;

  a {
    height: 200px;
    width: 24%;
    color: #666666;
    
    border: $border-default;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    

    @include breakpoint('<=medium') {
      width: 49%;
      margin: 1% 0;
    }

    @include breakpoint('<=small') { 
      width: 100%;
      margin: 1% 0;
      border: $border-hover;
    }
  }

  a:active, a:visited {
    color: #666666;
  }

  a:hover {
    border: $border-hover;
    background: #EFEFEF;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.text {
  font-family: $fonts;
}

.sign{
  font-family: $fonts;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: .75rem;
  form {
    justify-content: space-around;
    padding: 0;
    margin: 1.45rem 0 0 0;
    min-width: 50%;
    width: 60%;
    max-width: 100%;
  }
  h4 {
    font-family: $fonts;
    text-align: center;
  }
  
  border: $border-default;

  input, textarea {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
  }

  button {
    border: 0;
    border-radius: 5px;
    padding: 10px 18px 7px 18px;
    color: #FFFFFF;
    background-color: $orange;
    font-size: 1.275rem;
  }
  .error {
    font-weight: bold;;
    color: rgb(249, 71, 71);
  }

  .success {
    font-weight: bold;
    color: rgb(62, 199, 54);
  }

  .input-error {
    border-color: rgb(249, 71, 71);
  } 
  
  .p-button {
    text-align: center;
  }


  @include breakpoint('<=medium') {
    form { 
      width: 90%
    }
    input, textarea {
      width: 100%;
    }
  }

  // @include breakpoint('<=small') { 
  //   width: 100%;
  //   margin: 1% 0;
  //   border: $border-hover;
  // }

}